.appname, .appname:visited {
  @extend %link-template;
  color: $color-title;
  font-weight: 900;
  font-size: 3.6rem;
  float: none;

  @include respond-to('small') {
    float: left;
  }
}

.appname:hover {
  background-color: $color-navbar;
}
