.appname {
  @extend %nav-link;
  color: $color-title;
  font-weight: 900;
  font-size: 3rem;
  padding: 0.6rem 0;
  float: none;

  @include respond-to('small') {
    padding: 0.8rem 1.2rem;
    float: left;
  }
}

.appname:hover {
  background-color: $color-navbar;
}
