.button {
  @extend %nav-link;
  // Don't show it on mobile.
  //display: none;

  @include respond-to('small') {
    background-color: $color-button;
    color: $color-button-text;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 0.6rem;
    display: block;
  }
}

.button:hover {
  background-color: $color-button-hover;
  color: $color-button-text-hover;
  transition: all .3s;
}

.button-reverse {
  @extend .button;
  background-color: $color-laptop-base;
  color: $color-button;
}
