.navbar {
  @extend %transition-all;
  width: auto;
  background-color: $color-navbar;
  border-bottom: 1px solid $color-border;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0;
  padding: 0;

  @include respond-to('small') {
    padding: 0 13rem;
  }

  @include respond-to('large') {
    padding: 0 30rem;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    padding: 0 6rem;
  }
}
