.navlink {
  @extend %link-template;
  @extend %transition-all;
  padding: 1rem 0;
  color: $color-font;
  display: none; // Don't show it on mobile.

  @include respond-to('small') {
    padding: 1.6rem 1.2rem;
    display: block;
  }
}

.navlink:visited {
  color: $color-font;
}

.navlink:hover {
  color: $color-link-hover;
  transition: color 0.5s;
}
