<nav class="navbar">
  <ul class="list">
    <li class="list-item"><a class="appname" routerLink="">Budget It</a></li>
    <div class="nav-container">
      <li class="list-item hide-mobile"><a class="navlink" routerLink="">Support</a></li>
      <li class="list-item hide-mobile" *ngIf="user; else noUser"><a class="button" (click)="logout()"  routerLink="">Logout</a></li>
      <ng-template #noUser>
        <li class="list-item hide-mobile"><a class="button" routerLink="login">Login / Register</a></li>
      </ng-template>
    </div>
  </ul>
</nav>

<div class="site-content">
  <router-outlet></router-outlet>
</div>
