<nav class="navbar navbar-expand-sm navbar-light bg-light shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="" style="color:#FF9940">Budget It</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContents" aria-controls="navbarContents" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContents">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="">Support</a>
        <a class="nav-link fw-bolder" (click)="logout()" routerLink="" *ngIf="user; else noUser">Log Out</a>
        <ng-template #noUser>
          <a class="nav-link fw-bolder" routerLink="login">Register / Log In</a>
        </ng-template>
      </div>
    </div>

  </div>
</nav>

<div class="site-content">
  <router-outlet></router-outlet>
</div>
