<!-- <div class="laptop">
  <div class="laptop-base">
    <div class="laptop-screen">
      <embed src="../../assets/pie.svg" class="pie">
      <embed src="../../assets/histogram.svg" class="histogram">
    </div>
  </div>
</div> -->

<div class="container">

  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <h1 class="text-center">Budget Slogan</h1>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-auto">
      <a class="btn btn-primary mx-3" href="/dashboard">Go to your dashboard</a>
      <a class="btn btn-primary mx-3" href="/records">View records</a>
      <a class="btn btn-secondary mx-3" href="#">Learn more</a>
    </div>
  </div>

</div>