<div class="landing-page-root">
  <div>
    <h1>Landing page</h1>
    <div>
      <p>
        Vestibulum auctor at neque vitae interdum. Nullam gravida fermentum lorem,
        ut tempor justo egestas hendrerit. Pellentesque habitant morbi tristique
        senectus et netus et malesuada fames ac turpis egestas. Aliquam faucibus
        tortor nec augue sollicitudin, at faucibus magna condimentum. Praesent dui
        lorem, bibendum sit amet iaculis vel, condimentum id erat. Phasellus sit
        amet nisi sed orci viverra eleifend. Mauris condimentum est quis leo
        ornare, in facilisis dui molestie. Proin felis leo, sodales hendrerit orci
        a, rutrum eleifend tortor. Vestibulum eu erat euismod, ultricies ligula
        viverra, egestas arcu. Mauris sit amet tempor sem. Orci varius natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus
        semper tortor a arcu mattis, eu dignissim felis lacinia. Praesent molestie
        neque eget est ultrices semper. Nam at tempus dui, quis iaculis augue.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      </p>
    </div>
  </div>
  <div>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquam
    tempor dapibus. Nam efficitur risus quis mattis interdum. Praesent laoreet
    leo tortor, quis rhoncus ligula suscipit vitae. Nam ultrices pretium elit eu
    vestibulum. Orci varius natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Proin id elit nec libero placerat malesuada. Nam a
    ultrices dui. Integer et interdum elit, et porttitor est. Aliquam in neque
    dolor. Nulla nec nunc vitae libero ultrices egestas. Suspendisse quis diam
    bibendum, luctus risus id, ultrices odio. Nullam posuere pretium quam, non
    euismod lectus vehicula a. Nunc in varius turpis, sit amet pellentesque
    libero. Nunc sem purus, tristique sit amet nibh id, commodo interdum lorem.
    In eu dolor eleifend, pellentesque metus in, efficitur sapien.
    </p>

    <div class="center-text">
      <h2>Sign in</h2>
      <fieldset>
        <input #username type="text" placeholder="Username">
        <input #password type="password" placeholder="Password">
      </fieldset>
      <button (click)="login(username.value, password.value)">Sign in</button>
    </div>

    <div>
      <h2>Register</h2>
      <fieldset>
        <input #username type="text" placeholder="Username">
        <input #password type="password" placeholder="Password">
        <input #mail type="email" placeholder="E-mail">
      </fieldset>
      <button class="full">Sign up</button>
    </div>

    <p>
    Aenean lacus lorem, mattis sit amet ligula in, rhoncus luctus elit. Duis
    risus mauris, laoreet a neque a, varius tincidunt felis. Phasellus efficitur
    vitae arcu eget euismod. Cras vitae lorem vitae enim fringilla lobortis eu
    non lorem. Nullam eu ex nulla. Praesent ac tortor a velit mattis mollis. Nam
    dictum eu enim quis rhoncus. 
    </p>
  </div>
</div>
