<div class="landing-page">
  <div class="laptop">
    <div class="laptop-base">
      <div class="laptop-screen">
        <embed src="../../assets/pie.svg" class="pie">
        <embed src="../../assets/histogram.svg" class="histogram">
      </div>
    </div>
  </div>

  <div class="hero-text">
    <h1 class="heading">Budget slogan goes here</h1>
    <div class="button-container">
      <a class="button-large margin-5" href="#">Get Started</a>
      <a class="button-reverse button-large margin-5" href="#">Learn More</a>
    </div>
  </div>
</div>
