@import '../../ayu.scss';
@import '../../classes.scss';

.pie {
  @extend %transition-all;
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 1.5rem;
  top: 1rem;
}

.histogram {
  @extend %transition-all;
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 12.25rem;
  top: 4.5rem;
}

.landing-page-root {
  @extend %transition-all;
  margin: 0 1rem;
}

.laptop {
  @extend %transition-all;
  margin: 5rem 0;
  opacity: 0.7;
}

.laptop-screen {
  @extend %transition-all;
  margin: auto;
  background-color: #FAFAFA;
  border-radius: 1rem;
  width: 23rem;
  height: 16rem;
  position: absolute;
  z-index: 1;
  left: 1rem;
  top: 1rem;
}

.laptop-base {
  @extend %transition-all;
  margin: auto;
  background-color: #959DA64D;
  height: 18rem;
  width: 25rem;
  border-radius: 1rem;
  position: relative;
  z-index: 0;
}

.laptop-base::after {
  @extend %transition-all;
  z-index: 1;
  content: "";
  position: absolute;
  width: 30rem;
  height: 1rem;
  left: -2.5rem;
  bottom: -1rem;
  border-radius: 1rem 1rem 2rem 2rem;
  background-image: linear-gradient(to right, #959DA6B3 0%, #959DA6B3 40%, #ABB0B6 40%, #ABB0B6 60%, #959DA6B3 60%, #959DA6B3 100%);
}

.laptop-base::before {
  @extend %transition-all;
  z-index: 2;
  content: "";
  position: absolute;
  width: 30rem;
  height: 0.5rem;
  left: -2.5rem;
  border-radius: 0 0 5rem 5rem;
  bottom: -1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 600px) {
  .landing-page-root {
    margin: 0 4rem;
  }

  .laptop-base {
    width: 40rem;
    height: 28rem;
  }

  .laptop-screen {
    width: 36rem;
    height: 24rem;
    left: 2rem;
    top: 2rem;
  }

  .laptop-base::after {
    width: 50rem;
    height: 1.5rem;
    bottom: -1.5rem;
    left: -5rem;
  }

  .laptop-base::before {
    width: 50rem;
    height: 0.75rem;
    bottom: -1.5rem;
    left: -5rem;
  }

  .pie {
    width: 15rem;
    height: 15rem;
    left: 2rem;
    top: 1.5rem;
  }

  .histogram {
    width: 15rem;
    height: 15rem;
    left: 19rem;
    top: 7rem;
  }
}
