<button (click)="getRecords()">Get Records</button>

<div *ngIf="records">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Type</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <td>{{ record.RecordID }}</td>
        <td>{{ record.Amount }}</td>
        <td>{{ record.Date }}</td>
        <td>{{ record.Type }}</td>
        <td>{{ record.Comment }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showError">
  <p>You must be logged in to display records!</p>
</div>
