// Colors based on or copied from ayu theme.
// https://github.com/ayu-theme MIT license.
$color-font:                    #6C7680;
$color-bg:                      #FFFFFF;
$color-bg-hover:                #EDF0F5;
$color-title:                   #FF9940;
$color-navbar:                  #FAFAFA;
$color-border:                  #959DA61A;
$color-gradient:                #EDF0F5;
$color-button:                  #399EE6;
$color-button-text:             #FAFAFA;
$color-button-hover:            #F2AE49;
$color-button-text-hover:       #302B1F;
$color-link-hover:              #FA8D3E;
