@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
@import './ayu.scss';

$base-fonts:        'Lato', sans-serif;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $base-fonts;
  color: $color-font;
  background-color: $color-bg;
  margin: 0;
  padding: 0;
}
