/* You can add global styles to this file, and also import other style files */
/*@import 'picnic.min.css';

body {
  margin: 100px 2vw;
}

.center-text {
  text-align: center;
}

.text-margin {
  margin: 0 2vw 0 4vw;
}

.paragraph {
  text-align: justify;
  text-indent: 5em;
}*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');
@import './ayu.scss';

$base-fonts:        'Lato', sans-serif;

body {
  font-family: $base-fonts;
  color: $color-font;
  background-color: $color-bg;
  margin: 0;
  padding: 0;
}
