@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

$base-fonts: 'Lato', sans-serif;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $base-fonts;
}
